<h2 class="font-medium" mat-dialog-title><strong>{{action}} - {{local_data.id}}</strong></h2>
<mat-dialog-content>
    <form #userForm="ngForm">
<!--        <div class="d-flex align-items-center m-b-15">-->
<!--            <img class="mat-card-avatar" [src]='local_data.imagePath'>-->
<!--            <button mat-raised-button color="primary" class="m-l-15 input-file-button" (click)="fileInput.click()">-->
<!--                <input type="file" (change)="selectFile($event)" #fileInput>-->
<!--            </button>-->
<!--        </div>-->

        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="text" matInput required id="address" name="address"
                       [(ngModel)]="local_data.address" placeholder="Адрес">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="date" placeholder="Дата начала действия" matInput required id="start_date" name="start_date"
                       [(ngModel)]="local_data.date_start">
              </mat-form-field>
            </div>
          </div>

          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="date" placeholder="Дата окончания действия" matInput id="end_date" name="end_date"
                       [(ngModel)]="local_data.date_end">
              </mat-form-field>
            </div>
          </div>

          <div fxFlex="100" fxFlex.gt-md="100">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <mat-label>Тип адреса</mat-label>
                <mat-select required [(ngModel)]="local_data.type" name="type">
                  <mat-option *ngFor="let address of docBack.addressTypes" [value]="address">
                    {{docBack.getAddressType(address)}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="pt-3">
  <button mat-button (click)="doAction()" mat-flat-button color="warn"
          [disabled]="!userForm.valid">{{action}}</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</mat-dialog-actions>

