<div fxLayout="row wrap">
<div fxFlex="100">
<mat-card>
  <mat-card-content>
  <form #userForm="ngForm">
    <!--        <div class="d-flex align-items-center m-b-15">-->
    <!--            <img class="mat-card-avatar" [src]='docBack.localData.imagePath'>-->
    <!--            <button mat-raised-button color="primary" class="m-l-15 input-file-button" (click)="fileInput.click()">-->
    <!--                <input type="file" (change)="selectFile($event)" #fileInput>-->
    <!--            </button>-->
    <!--        </div>-->
    <div fxLayout="row wrap" class="align-items-center">
    <div fxFlex="100" fxFlex.gt-md="18">
      <div class="m-r-15 m-l-15">
        <mat-form-field>
          <input type="text" matInput required id="itn" name="itn" [(ngModel)]="docBack.localData.main.itn"
                 placeholder="{{'ITN' | translate}}">
        </mat-form-field>

      </div>
    </div>
      <div fxFlex="100" fxFlex.gt-md="2">
        <a (click)="checkITN()" class="m-r-10 cursor-pointer"><i class="fa fa-cloud"></i></a>
      </div>
    <div fxFlex="100" fxFlex.gt-md="20">
      <div class="m-r-15 m-l-15">
        <mat-form-field>
          <input type="text" matInput required id="KPP" name="kpp" [(ngModel)]="docBack.localData.main.kpp"
                 placeholder="КПП">
        </mat-form-field>
      </div>
    </div>

    <div fxFlex="100" fxFlex.gt-md="20">
      <div class="m-r-15 m-l-15">
        <mat-form-field>
          <input type="text" matInput required id="ogrn" name="ogrn" [(ngModel)]="docBack.localData.main.ogrn"
                 placeholder="ОГРН">
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="10">
      <div class="m-r-15 m-l-15">
        <mat-form-field>
          <mat-label>Временная зона</mat-label>
          <mat-select required [(ngModel)]="docBack.localData.main.timezone" name="timezone">
            <mat-option *ngFor="let utc of docBack.utc" [value]="utc.id">
              {{utc.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="10">
      <div class="m-r-15 m-l-15">
        <mat-form-field>
          <mat-label>Форма собственности</mat-label>
          <mat-select required [(ngModel)]="docBack.localData.main.company_type_id" name="company_type">
            <mat-option *ngFor="let companyType of docBack.companyTypes" [value]="companyType.id">
              {{companyType.short_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
      <div fxFlex="100" fxFlex.gt-md="20">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-label>Категория</mat-label>
            <mat-select required [(ngModel)]="docBack.localData.main.customer_categories" name="customer_category" multiple>
              <mat-option *ngFor="let customerCategory of docBack.customerCategories" [value]="customerCategory.id">{{customerCategory.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="align-items-center">
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input type="text" matInput required id="full_name" name="full_name"
                   [(ngModel)]="docBack.localData.main.full_name" placeholder="Полное наименование">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="align-items-center">
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input type="text" matInput required id="short_name" name="short_name"
                   [(ngModel)]="docBack.localData.main.short_name" placeholder="Краткое наименование">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="align-items-center">
    <div fxFlex="100" fxFlex.gt-md="100">
      <div class="m-r-15 m-l-15">
        <mat-form-field>
          <input type="text" required matInput id="phone" name="phone" [(ngModel)]="docBack.localData.main.phone"
                 placeholder="Телефон организации">
        </mat-form-field>
      </div>
    </div>
    </div>
    <div fxLayout="row wrap" class="align-items-center">
    <div fxFlex="100" fxFlex.gt-md="100">
      <div class="m-r-15 m-l-15">
        <mat-form-field>
          <input type="text" required matInput id="email" name="email" [(ngModel)]="docBack.localData.main.email"
                 placeholder="Email организации">
        </mat-form-field>
      </div>
    </div>
    </div>

<!--    <button mat-button (click)="doAction()" mat-flat-button color="warn"-->
<!--            [disabled]="!userForm.valid">{{action}}</button>-->
<!--    <button mat-button (click)="closeDialog()">Cancel</button>-->
  </form>

  </mat-card-content>
</mat-card>
</div>
</div>
<div fxLayout="row wrap">
<div fxFlex="100">
  <mat-card class="no_scroll">
    <mat-card-content>
      <div fxLayout="row wrap" class="align-items-center">
        <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
          <mat-form-field>
            <input matInput (keyup)="applyFilterFac($event.target.value)" placeholder="Найти адрес">
          </mat-form-field>
        </div>
        <div fxFlex.gt-md="75" class="text-right">
          <button mat-raised-button (click)="openDialogMain('Add',{})" color="primary">Добавить адрес</button>
        </div>
      </div>
      <div class="table-responsive">
        <table #facTable mat-table [dataSource]="dataSourceFac" class="table employee-list no-wrap">

          <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element"> {{element.action}} {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Адрес</th>
            <td mat-cell *matCellDef="let element">
              {{element.address}}
            </td>
          </ng-container>
          <ng-container matColumnDef="date_start">
            <th mat-header-cell *matHeaderCellDef> Дата начала действия</th>
            <td mat-cell *matCellDef="let element"> {{element.date_start | date :'dd-MM-yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="date_end">
            <th mat-header-cell *matHeaderCellDef> Дата окончания действия</th>
            <td mat-cell *matCellDef="let element">  {{element.date_end | date :'dd-MM-yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Тип адреса</th>
            <td mat-cell *matCellDef="let element"> {{docBack.getAddressType(element.type)}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <a (click)="openDialogMain('Update', element)" class="m-r-10 cursor-pointer"><i class="fa fa-pencil"></i></a>
              <a (click)="openDialogMain('Delete', element)" class="m-r-10 cursor-pointer">
                <i class="fa fa-trash text-danger"></i>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsFac"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsFac;"></tr>
        </table>
        <mat-paginator #paginatorMain [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
</div>
