
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Основные сведения" ><app-main-cust></app-main-cust></mat-tab>
  <mat-tab label="Дополнительные сведения"><ng-template matTabContent><app-main2-cust></app-main2-cust></ng-template></mat-tab>
  <mat-tab label="ОКВЭД2"><ng-template matTabContent><app-okved2-cust></app-okved2-cust></ng-template></mat-tab>
  <mat-tab label="Штатная структура"><ng-template matTabContent><app-staffstruct-cust></app-staffstruct-cust></ng-template></mat-tab>
  <mat-tab label="Сотрудники"><ng-template matTabContent><app-staff-cust></app-staff-cust></ng-template></mat-tab>
</mat-tab-group>
<mat-card>
  <div [hidden]="true">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
    <mat-card-content>
    <button mat-raised-button color="primary" [disabled]="buttonEnabled == false" (click)="saveCustomer()">Сохранить</button>
  </mat-card-content>
</mat-card>

