<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Найти запись">
            </mat-form-field>
            <button (click)="docBack.downloadFile()">Скачать xlsx</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="table employee-list no-wrap">

            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef> # </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="user_id">
              <th mat-header-cell *matHeaderCellDef> Инициатор </th>
              <td mat-cell *matCellDef="let element"> {{ element.user.first_name }} {{ element.user.last_name }} </td>
            </ng-container>

            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef> Дата создания </th>
              <td mat-cell *matCellDef="let element"> {{element.created_at | date:'d-MM-yy HH:mm'}} </td>
            </ng-container>

            <ng-container matColumnDef="customer_id">
              <th mat-header-cell *matHeaderCellDef> Клиент </th>
              <td mat-cell *matCellDef="let element"> {{ element.customer.short_name }} </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Дата </th>
              <td mat-cell *matCellDef="let element"> {{ element.date }} </td>
            </ng-container>

            <ng-container matColumnDef="instruction_id">
              <th mat-header-cell *matHeaderCellDef> Тип шаблона </th>
              <td mat-cell *matCellDef="let element"> {{ element.instruction.name }} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Статус </th>
              <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
