<h2 class="font-medium" mat-dialog-title><strong>{{action}}</strong></h2>
<mat-dialog-content class="pb-3" *ngIf="action != 'Delete'; else elseTemplate">
    <form #userForm="ngForm">
        <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="text" matInput required id="email" name="email"
                            [(ngModel)]="local_data.email" placeholder="Почта">
                    </mat-form-field>
                </div>
            </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <mat-label>Роль</mat-label>
                <mat-select required [(ngModel)]="local_data.role_id" name="customer_category">
                  <!-- TODO add translation -->
                  <mat-option *ngFor="let role of docBack.roles" [value]="role.id">{{role.title}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="text" matInput required id="first_name" name="first_name"
                       [(ngModel)]="local_data.first_name" placeholder="Имя">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="text" placeholder="Фамилия" matInput required id="last_name" name="last_name"
                       [(ngModel)]="local_data.last_name">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="text" placeholder="Отчество" matInput id="sur_name" name="sur_name"
                       [(ngModel)]="local_data.sur_name">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="password" placeholder="Пароль" matInput required id="password" name="password"
                       [(ngModel)]="local_data.password">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="password" placeholder="Повторить пароль" matInput required id="password2" name="password2"
                       [(ngModel)]="local_data.password2">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="100">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
            <textarea type="text" matInput id="description" name="description" [(ngModel)]="local_data.description"
                      placeholder="Дополнительно"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <button mat-button (click)="doAction()" mat-flat-button color="warn"
                [disabled]="!userForm.valid">{{action}}</button>
        <button mat-button (click)="closeDialog()">Cancel</button>
    </form>
</mat-dialog-content>
<ng-template #elseTemplate>
    <p>Sure to delete <b>{{local_data.Name}}</b> ?</p>
    <div mat-dialog-actions align="end" class="pt-3">
        <button mat-button (click)="doAction()" mat-flat-button color="warn">{{action}}</button>
        <button mat-button (click)="closeDialog()">Cancel</button>
    </div>
</ng-template>
