<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Найти пользователя">
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="75" class="text-right">
            <button *ngIf="docBack.checkPermission('no_route', 'users_edit')" mat-raised-button (click)="openDialog('Add',{})" color="primary">Добавить пользователя</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="table employee-list no-wrap">

            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef> # </th>
              <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Почта </th>
              <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
            </ng-container>

            <ng-container matColumnDef="is_deleted">
              <th mat-header-cell *matHeaderCellDef> Удалён </th>
              <td mat-cell *matCellDef="let element"> {{element.is_deleted ? 'Удалён' : 'Действует'}} </td>
            </ng-container>

            <ng-container matColumnDef="first_name">
              <th mat-header-cell *matHeaderCellDef> Имя </th>
              <td mat-cell *matCellDef="let element"> {{ element.first_name }} </td>
            </ng-container>

            <ng-container matColumnDef="last_name">
              <th mat-header-cell *matHeaderCellDef> Фамилия </th>
              <td mat-cell *matCellDef="let element"> {{ element.last_name }} </td>
            </ng-container>

            <ng-container matColumnDef="roles">
              <th mat-header-cell *matHeaderCellDef> Роль </th>
              <td mat-cell *matCellDef="let element"> {{ docBack.getRoleType(element.role_id) }} </td>
            </ng-container>
            <!--            '#', 'name', 'employee_count', 'file_path', 'message_id', 'doc_start_date', 'gen_start_date', 'npa_name', 'npa_date', 'is_deleted', 'instruction_id',   'action'-->



            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element" class="action-link">
                <a *ngIf="docBack.checkPermission('no_route', 'users_edit')" (click)="openDialog('Update',element)" class="m-r-10 cursor-pointer"><i class="fa fa-pencil"></i></a>
                <a *ngIf="docBack.checkPermission('no_route', 'users_edit')" (click)="openDialog('Delete',element)" class="m-r-10 cursor-pointer">
                  <i class="fa fa-trash text-danger"></i>
                </a>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
