<h2 class="font-medium" mat-dialog-title><strong>{{action}}</strong></h2>
<mat-dialog-content class="pb-3">
    <form #userForm="ngForm">
<!--        <div class="d-flex align-items-center m-b-15">-->
<!--            <img class="mat-card-avatar" [src]='local_data.imagePath'>-->
<!--            <button mat-raised-button color="primary" class="m-l-15 input-file-button" (click)="fileInput.click()">-->
<!--                <input type="file" (change)="selectFile($event)" #fileInput>-->
<!--            </button>-->
<!--        </div>-->
        <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <input type="text"
                             placeholder="Должность ИмП"
                             aria-label="Number"
                             matInput
                             [formControl]="myControl"
                             [matAutocomplete]="auto" >
                      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name_i" (onSelectionChange)="onSelFunc(option)">
                          {{option.name_i}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>

                </div>
            </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="text" matInput required id="position_r" name="position_r"
                       [(ngModel)]="local_data.name_r" placeholder="Должность РП">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="text" matInput required id="position_d" name="position_d"
                       [(ngModel)]="local_data.name_d" placeholder="Должность ДП">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="text" matInput required id="position_v" name="position_v"
                       [(ngModel)]="local_data.name_v" placeholder="Должность ВП">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="text" matInput required id="position_t" name="position_t"
                       [(ngModel)]="local_data.name_t" placeholder="Должность ТП">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="date" placeholder="Дата утверждения" matInput required id="start_date" name="start_date"
                       [(ngModel)]="local_data.start_date">
              </mat-form-field>
            </div>
          </div>

          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="date" placeholder="Дата окончания" matInput id="end_date" name="end_date"
                       [(ngModel)]="local_data.end_date">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
                <mat-checkbox class="example-margin" matInput id="seo" name="seo" [(ngModel)]="local_data.seo">Это руководитель</mat-checkbox>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
                <mat-checkbox class="example-margin" matInput id="sdl" name="sdl" [(ngModel)]="local_data.sdl">Нужен ЦИ</mat-checkbox>
            </div>
          </div>


        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="pt-3">
  <button mat-button (click)="doAction()" mat-flat-button color="warn"
          [disabled]="!userForm.valid">{{action}}</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</mat-dialog-actions>

