<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card class="no_scroll">
      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
            <mat-form-field>
              <input matInput (keyup)="applyFilterMain($event.target.value)" placeholder="Найти основной ОКВЭД">
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="75" class="text-right">
            <button mat-raised-button (click)="openDialogMain('Add',{})" color="primary">Добавить основной ОКВЭД</button>
          </div>
        </div>
        <div class="table-responsive">
          <table #mainTable mat-table [dataSource]="dataSourceMain" class="table employee-list no-wrap">

            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef> # </th>
              <td mat-cell *matCellDef="let element"> {{element.action}} {{element.okved_id}} </td>
            </ng-container>
            <ng-container matColumnDef="okved">
              <th mat-header-cell *matHeaderCellDef> ОКВЭД </th>
              <td mat-cell *matCellDef="let element">
                {{okvedFind(element.okved_id).okved}}
              </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Название </th>
              <td mat-cell *matCellDef="let element"> {{okvedFind(element.okved_id).name}} </td>
            </ng-container>

            <ng-container matColumnDef="start_date">
              <th mat-header-cell *matHeaderCellDef> Дата начала действия</th>
              <td mat-cell *matCellDef="let element">  {{element.date_start | date :'dd-MM-yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="end_date">
              <th mat-header-cell *matHeaderCellDef> Дата окончания действия</th>
              <td mat-cell *matCellDef="let element"> {{element.date_end | date :'dd-MM-yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element" class="action-link">
                <a (click)="openDialogMain('Update',element)" class="m-r-10 cursor-pointer"><i class="fa fa-pencil"></i></a>
                <a (click)="openDialogMain('Delete',element)" class="m-r-10 cursor-pointer">
                  <i class="fa fa-trash text-danger"></i>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsMain"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsMain;"></tr>
          </table>
          <mat-paginator #paginatorMain [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
            <mat-form-field>
              <input matInput (keyup)="applyFilterOther($event.target.value)" placeholder="Найти дополнительный ОКВЭД">
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="75" class="text-right">
            <button mat-raised-button (click)="openDialogOther('Add',{})" color="primary">Добавить дополнительный ОКВЭД</button>
          </div>
        </div>
        <div class="table-responsive">
          <table #otherTable mat-table [dataSource]="dataSourceOther" class="table employee-list no-wrap">
            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef> # </th>
              <td mat-cell *matCellDef="let element"> {{element.action}} {{element.okved_id}} </td>
            </ng-container>
            <ng-container matColumnDef="okved">
              <th mat-header-cell *matHeaderCellDef> ОКВЭД </th>
              <td mat-cell *matCellDef="let element"> {{okvedFind(element.okved_id).okved}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Название </th>
              <td mat-cell *matCellDef="let element"> {{okvedFind(element.okved_id).name}} </td>
            </ng-container>

            <ng-container matColumnDef="start_date">
              <th mat-header-cell *matHeaderCellDef> Дата начала действия</th>
              <td mat-cell *matCellDef="let element">  {{element.date_start | date :'dd-MM-yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="end_date">
              <th mat-header-cell *matHeaderCellDef> Дата окончания действия</th>
              <td mat-cell *matCellDef="let element"> {{element.date_end | date :'dd-MM-yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element" class="action-link">
<!--                <a (click)="openDialogOther('Update',element)" class="m-r-10 cursor-pointer"><i class="fa fa-pencil"></i></a>-->
                <a (click)="openDialogOther('Delete',element)" class="m-r-10 cursor-pointer">
                  <i class="fa fa-trash text-danger"></i>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsOther"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsOther;"></tr>
          </table>
          <mat-paginator #paginatorOther [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!--<mat-card>-->
<!--  <mat-card-content>-->
<!--  <form #userForm="ngForm">-->
<!--    &lt;!&ndash;        <div class="d-flex align-items-center m-b-15">&ndash;&gt;-->
<!--    &lt;!&ndash;            <img class="mat-card-avatar" [src]='localData.imagePath'>&ndash;&gt;-->
<!--    &lt;!&ndash;            <button mat-raised-button color="primary" class="m-l-15 input-file-button" (click)="fileInput.click()">&ndash;&gt;-->
<!--    &lt;!&ndash;                <input type="file" (change)="selectFile($event)" #fileInput>&ndash;&gt;-->
<!--    &lt;!&ndash;            </button>&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--    <div fxLayout="row wrap" class="align-items-center">-->
<!--    <div fxFlex="100" fxFlex.gt-md="100">-->
<!--      <div class="m-r-15 m-l-15">-->
<!--        <mat-form-field>-->
<!--          <mat-label>Основной ОКВЭД</mat-label>-->
<!--          <mat-select [(ngModel)]="localData.okved_id" name="okved_id">-->
<!--            <mat-option *ngFor="let okved of docBack.okveds" [value]="okved.id">-->
<!--              {{okved.okved}} - {{okved.name}}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--    </div>-->
<!--    </div>-->
<!--    <div fxLayout="row wrap" class="align-items-center">-->
<!--      <div fxFlex="100" fxFlex.gt-md="100">-->
<!--        <div class="m-r-15 m-l-15">-->
<!--          <mat-form-field>-->
<!--            <mat-label>Дополнительные ОКВЭДы</mat-label>-->
<!--            <mat-select [(ngModel)]="localData.okveds" name="cokved_ids" multiple>-->
<!--              <mat-select-trigger>-->
<!--                                      <span *ngIf="localData.okveds?.length > 0" class="example-additional-selection">-->
<!--                          <li *ngFor="let okved of localData.okveds">-->
<!--                            {{okved.okved}} - {{okved.name}}-->
<!--                          </li>-->
<!--                        </span>-->
<!--              </mat-select-trigger>-->
<!--              <mat-option *ngFor="let okved of docBack.okveds" [value]="okved">-->
<!--                {{okved.okved}} - {{okved.name}}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--&lt;!&ndash;    <button mat-button (click)="doAction()" mat-flat-button color="warn"&ndash;&gt;-->
<!--&lt;!&ndash;            [disabled]="!userForm.valid">{{action}}</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button mat-button (click)="closeDialog()">Cancel</button>&ndash;&gt;-->
<!--  </form>-->
<!--  </mat-card-content>-->
<!--</mat-card>-->
