<h2 class="font-medium" mat-dialog-title><strong>{{action}}</strong></h2>
<mat-dialog-content>
  <form #userForm="ngForm">
    <!--        <div class="d-flex align-items-center m-b-15">-->
    <!--            <img class="mat-card-avatar" [src]='local_data.imagePath'>-->
    <!--            <button mat-raised-button color="primary" class="m-l-15 input-file-button" (click)="fileInput.click()">-->
    <!--                <input type="file" (change)="selectFile($event)" #fileInput>-->
    <!--            </button>-->
    <!--        </div>-->
    <div fxLayout="row wrap" class="align-items-center">
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-label>Дополнительный ОКВЭД</mat-label>
            <mat-select [(ngModel)]="local_data.okved_id" name="okved_id">
              <mat-option *ngFor="let okved of docBack.okveds" [value]="okved.id">
                {{okved.okved}} - {{okved.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input type="date" placeholder="Дата начала действия" matInput required id="start_date" name="start_date"
                   [(ngModel)]="local_data.date_start">
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input type="date" placeholder="Дата окончания действия" matInput id="end_date" name="end_date"
                   [(ngModel)]="local_data.date_end">
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="pt-3">
  <button mat-button (click)="doAction()" mat-flat-button color="warn"
          [disabled]="!userForm.valid">{{action}}</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</mat-dialog-actions>

