<h2 class="font-medium" mat-dialog-title><strong>{{action}}</strong></h2>
<mat-dialog-content class="pb-3" *ngIf="action != 'Delete'; else elseTemplate">
    <form #userForm="ngForm">
        <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex="100" fxFlex.gt-md="100">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="text" matInput required id="name" name="name"
                            [(ngModel)]="local_data.name" placeholder="Название">
                    </mat-form-field>
                </div>
            </div>
          <div fxFlex="100" fxFlex.gt-md="100">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="text" matInput id="description" name="description"
                       [(ngModel)]="local_data.description" placeholder="Дополнительно">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="100">
            <div class="m-r-15 m-l-15">
              <mat-checkbox class="example-margin" matInput id="is_deleted" name="is_deleted" [(ngModel)]="local_data.is_deleted">Удалён</mat-checkbox>
            </div>
          </div>

        </div>
        <button mat-button (click)="doAction()" mat-flat-button color="warn"
            [disabled]="!userForm.valid">{{action}}</button>
        <button mat-button (click)="closeDialog()">Cancel</button>
    </form>
</mat-dialog-content>
<ng-template #elseTemplate>
    <p>Sure to delete <b>{{local_data.Name}}</b> ?</p>
    <div mat-dialog-actions align="end" class="pt-3">
        <button mat-button (click)="doAction()" mat-flat-button color="warn">{{action}}</button>
        <button mat-button (click)="closeDialog()">Cancel</button>
    </div>
</ng-template>
