<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Найти запись">
            </mat-form-field>
<!--            <button (click)="docBack.downloadFile()">Скачать xlsx</button>-->
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="table employee-list no-wrap">

            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name_i">
              <th mat-header-cell *matHeaderCellDef> Наименование ИмП </th>
              <td mat-cell *matCellDef="let element"> {{ element.name_i }} </td>
            </ng-container>
            <ng-container matColumnDef="name_r">
              <th mat-header-cell *matHeaderCellDef> Наименование РоП </th>
              <td mat-cell *matCellDef="let element"> {{ element.name_r }} </td>
            </ng-container>
            <ng-container matColumnDef="name_d">
              <th mat-header-cell *matHeaderCellDef> Наименование ДаП </th>
              <td mat-cell *matCellDef="let element"> {{ element.name_d }} </td>
            </ng-container>
            <ng-container matColumnDef="name_v">
              <th mat-header-cell *matHeaderCellDef> Наименование ВиП </th>
              <td mat-cell *matCellDef="let element"> {{ element.name_v }} </td>
            </ng-container>
            <ng-container matColumnDef="name_t">
              <th mat-header-cell *matHeaderCellDef> Наименование ТвП </th>
              <td mat-cell *matCellDef="let element"> {{ element.name_t }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
