<h2 class="font-medium" mat-dialog-title><strong>{{action}}</strong></h2>
<mat-dialog-content class="pb-3" *ngIf="action != 'Delete'; else elseTemplate">
    <form #userForm="ngForm">
        <div class="d-flex align-items-center m-b-15">
            <button mat-raised-button color="primary" class="m-l-15 input-file-button" (click)="fileInput.click()">
                Выбрать файл шаблона
                <input class="file-input-1" required type="file" (change)="selectFile($event)" #fileInput>
            </button>
          &nbsp; {{ local_data.file_path }}
        </div>
        <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="text" matInput required id="name" name="name"
                            [(ngModel)]="local_data.name" placeholder="Название шаблона">
                    </mat-form-field>
                </div>
            </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <mat-label>Тип шаблона</mat-label>
                <mat-select required [(ngModel)]="local_data.instruction_id" name="instruction_id">
                  <mat-option *ngFor="let instruction of docBack.instructionsMap | keyvalue" [value]="instruction.key">
                    {{instruction.value.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <mat-label>Форма собственности</mat-label>
                <mat-select required [(ngModel)]="local_data.company_type_id" name="company_type">
                  <mat-option *ngFor="let companyType of docBack.companyTypes" [value]="companyType.id">
                    {{companyType.short_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <mat-label>Количество сотрудников</mat-label>
                <mat-select required [(ngModel)]="local_data.employee_count" name="tariff_id">
                  <mat-option *ngFor="let employee of docBack.employeeCount" [value]="employee.key">
                    {{employee.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <mat-label>Категория клиента</mat-label>
                <mat-select required [(ngModel)]="local_data.customer_categories" name="customer_category" multiple>
                  <mat-option *ngFor="let customerCategory of docBack.customerCategories" [value]="customerCategory.id">{{customerCategory.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
<!--          <div fxFlex="100" fxFlex.gt-md="50">-->
<!--            <div class="m-r-15 m-l-15">-->
<!--              <mat-form-field>-->
<!--                <mat-label>Тариф</mat-label>-->
<!--                <mat-select [(ngModel)]="local_data.tariff_id" name="tariff_id">-->
<!--                  <mat-option *ngFor="let tariff of docBack.tariffs" [value]="tariff.id">-->
<!--                    {{tariff.name}}-->
<!--                  </mat-option>-->
<!--                </mat-select>-->
<!--              </mat-form-field>-->
<!--            </div>-->
<!--          </div>-->
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="text" matInput required id="npa_name" name="npa_name"
                       [(ngModel)]="local_data.npa_name" placeholder="Наименование НПА">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="date" placeholder="Дата НПА" matInput required id="npa_date" name="npa_date"
                       [(ngModel)]="local_data.npa_date">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="date" placeholder="Дата вступления документа в силу" matInput required id="doc_start_date" name="doc_start_date"
                       [(ngModel)]="local_data.doc_start_date">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="date" placeholder="Дата отправки шаблона" matInput required id="gen_start_date" name="gen_start_date"
                       [(ngModel)]="local_data.gen_start_date">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="100">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
            <textarea type="text" matInput required id="message" name="message" [(ngModel)]="local_data.message"
                      placeholder="Текст сообщения"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <button mat-button (click)="doAction()" mat-flat-button color="warn"
            [disabled]="!userForm.valid || !local_data.file_path">{{action}}</button>
        <button mat-button (click)="closeDialog()">Cancel</button>
    </form>
</mat-dialog-content>
<ng-template #elseTemplate>
    <p>Sure to delete <b>{{local_data.Name}}</b> ?</p>
    <div mat-dialog-actions align="end" class="pt-3">
        <button mat-button (click)="doAction()" mat-flat-button color="warn">{{action}}</button>
        <button mat-button (click)="closeDialog()">Cancel</button>
    </div>
</ng-template>
