<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Найти шаблон">
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="75" class="text-right">
            <button mat-raised-button (click)="openDialog('Add',{})" color="primary">Добавить шаблон</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="table employee-list no-wrap">

            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef> # </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Название </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="employee_count">
              <th mat-header-cell *matHeaderCellDef> Количество сотрудников </th>
              <td mat-cell *matCellDef="let element"> {{element.employee_count == 1 ? 'Один' : 'Много'}} </td>
            </ng-container>

            <ng-container matColumnDef="file_path">
              <th mat-header-cell *matHeaderCellDef> Имя файла </th>
              <td mat-cell *matCellDef="let element"> {{element.file_path}} </td>
            </ng-container>

            <ng-container matColumnDef="message">
              <th mat-header-cell *matHeaderCellDef> Текст письма </th>
              <td mat-cell *matCellDef="let element"> {{ element.message }} </td>
            </ng-container>
            <!--            '#', 'name', 'employee_count', 'file_path', 'message_id', 'doc_start_date', 'gen_start_date', 'npa_name', 'npa_date', 'is_deleted', 'instruction_id',   'action'-->
            <ng-container matColumnDef="doc_start_date">
              <th mat-header-cell *matHeaderCellDef> Дата начала  </th>
              <td mat-cell *matCellDef="let element"> {{element.doc_start_date | date :'dd-MM-yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="gen_start_date">
              <th mat-header-cell *matHeaderCellDef> Дата начала генерации </th>
              <td mat-cell *matCellDef="let element"> {{element.gen_start_date | date :'dd-MM-yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="npa_name">
              <th mat-header-cell *matHeaderCellDef> Название НПА </th>
              <td mat-cell *matCellDef="let element"> {{element.npa_name}} </td>
            </ng-container>

            <ng-container matColumnDef="npa_date">
              <th mat-header-cell *matHeaderCellDef> Дата документа </th>
              <td mat-cell *matCellDef="let element"> {{element.npa_date | date :'dd-MM-yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="is_deleted">
              <th mat-header-cell *matHeaderCellDef> Удалён </th>
              <td mat-cell *matCellDef="let element"> {{element.is_deleted ? 'Удалён' : 'Действует'}} </td>
            </ng-container>

            <ng-container matColumnDef="instruction_id">
              <th mat-header-cell *matHeaderCellDef> Тип инструктажа </th>
              <td mat-cell *matCellDef="let element"> {{docBack.instructionsMap.get(element.instruction_id).name}} </td>
            </ng-container>



            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element" class="action-link">
                <a (click)="openDialog('Update',element)" class="m-r-10 cursor-pointer"><i class="fa fa-pencil"></i></a>
                <a (click)="openDialog('Delete',element)" class="m-r-10 cursor-pointer">
                  <i class="fa fa-trash text-danger"></i>
                </a>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
