<mat-card>
  <mat-card-content>
  <form>
    <!--        <div class="d-flex align-items-center m-b-15">-->
    <!--            <img class="mat-card-avatar" [src]='docBack.localData.imagePath'>-->
    <!--            <button mat-raised-button color="primary" class="m-l-15 input-file-button" (click)="fileInput.click()">-->
    <!--                <input type="file" (change)="selectFile($event)" #fileInput>-->
    <!--            </button>-->
    <!--        </div>-->
    <div fxLayout="row wrap" class="align-items-center">
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input type="text" matInput required id="contract_number" name="contract_number" [(ngModel)]="docBack.localData.main2.contract_number"
                   placeholder="Номер договора">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="25">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input type="date" placeholder="Начальная дата" matInput required id="contract_date_start" name="contract_date_start"
                   [(ngModel)]="docBack.localData.main2.contract_date_start">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="25">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input type="date" placeholder="Конечная дата" matInput required id="contract_date_end" name="contract_date_end"
                   [(ngModel)]="docBack.localData.main2.contract_date_end">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="align-items-center">
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-label>Тариф</mat-label>
            <mat-select [(ngModel)]="docBack.localData.main2.tariff_id" required name="tariff_id">
              <mat-option *ngFor="let tariff of docBack.tariffs" [value]="tariff.id">
                {{tariff.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </div>
        </div>
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input type="text" matInput id="contact_name" name="contact_name"
                   [(ngModel)]="docBack.localData.main2.contact_name" placeholder="ФИО контактного лица">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="align-items-center">
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input type="text" matInput id="contact_phone" name="contact_phone"
                   [(ngModel)]="docBack.localData.main2.contact_phone" placeholder="Телефон контактного лица">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="align-items-center">
    <div fxFlex="100" fxFlex.gt-md="100">
      <div class="m-r-15 m-l-15">
        <mat-form-field>
          <input type="text" matInput id="contact_email" name="contact_email" [(ngModel)]="docBack.localData.main2.contact_email"
                 placeholder="Email контактного лица">
        </mat-form-field>
      </div>
    </div>
    </div>

    <div fxLayout="row wrap" class="align-items-center">
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-label>Статус клиента</mat-label>
            <mat-select [(value)]="docBack.localData.main2.description" required name="description">
              <mat-option *ngFor="let status of statuses" [value]="status">
                {{status}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="align-items-center">
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input type="text" matInput id="rosFinLogin" name="description" [(ngModel)]="docBack.localData.main2.rosFinLogin"
                      placeholder="Логин Рос. Фин мониторинг">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="align-items-center">
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input type="text" matInput id="rosFinPass" name="description" [(ngModel)]="docBack.localData.main2.rosFinPass"
                      placeholder="Пароль Рос. Фин мониторинг">
          </mat-form-field>
        </div>
      </div>
    </div>
<!--    <button mat-button (click)="doAction()" mat-flat-button color="warn"-->
<!--            [disabled]="!userForm.valid">{{action}}</button>-->
<!--    <button mat-button (click)="closeDialog()">Cancel</button>-->
  </form>
  </mat-card-content>
</mat-card>
