<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Найти сотрудника">
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="75" class="text-right">
            <button mat-raised-button (click)="openDialog('Add',{})" color="primary">Добавить сотрудника</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="table employee-list no-wrap">

            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef> # </th>
              <td mat-cell *matCellDef="let element"> {{element.action}} {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="f_name">
              <th mat-header-cell *matHeaderCellDef> Имя </th>
              <td mat-cell *matCellDef="let element"> {{element.f_name}} </td>
            </ng-container>
            <ng-container matColumnDef="s_name">
              <th mat-header-cell *matHeaderCellDef> Отчество </th>
              <td mat-cell *matCellDef="let element"> {{element.s_name}} </td>
            </ng-container>
            <ng-container matColumnDef="l_name_i">
              <th mat-header-cell *matHeaderCellDef> Фамилия ИмП</th>
              <td mat-cell *matCellDef="let element"> {{element.l_name_i}} </td>
            </ng-container>

            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> Должность </th>
              <td mat-cell *matCellDef="let element">
                {{filt(element.position_id)}}
              </td>
            </ng-container>

            <ng-container matColumnDef="sdl_start_date">
              <th mat-header-cell *matHeaderCellDef> Дата начала СДЛ </th>
              <td mat-cell *matCellDef="let element">  {{element.sdl_start_date | date :'dd-MM-yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="ci_end_date">
              <th mat-header-cell *matHeaderCellDef> Дата окончания ЦИ </th>
              <td mat-cell *matCellDef="let element"> {{element.ci_end_date | date :'dd-MM-yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element" class="action-link">
                <a (click)="openDialog('Update',element)" class="m-r-10 cursor-pointer"><i class="fa fa-pencil"></i></a>
                <a (click)="openDialog('Delete',element)" class="m-r-10 cursor-pointer">
                  <i class="fa fa-trash text-danger"></i>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
