<h2 class="font-medium" mat-dialog-title><strong>{{action}}</strong></h2>
<mat-dialog-content>
    <form #userForm="ngForm">
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="text" matInput required id="f_name" name="f_name"
                       [(ngModel)]="local_data.f_name" placeholder="Имя">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="text" matInput required id="s_name" name="s_name"
                       [(ngModel)]="local_data.s_name" placeholder="Отчество">
              </mat-form-field>
            </div>
          </div>
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="text" matInput required id="l_name_i" name="l_name_i"
                            [(ngModel)]="local_data.l_name_i" placeholder="Фамилия ИмП">
                    </mat-form-field>
                </div>
            </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="text" matInput required id="l_name_r" name="l_name_r"
                       [(ngModel)]="local_data.l_name_r" placeholder="Фамилия РП">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="text" matInput required id="l_name_d" name="l_name_d"
                       [(ngModel)]="local_data.l_name_d" placeholder="Фамилия ДП">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="text" matInput required id="l_name_v" name="l_name_v"
                       [(ngModel)]="local_data.l_name_v" placeholder="Фамилия ВП">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="text" matInput required id="l_name_t" name="l_name_t"
                       [(ngModel)]="local_data.l_name_t" placeholder="Фамилия ТП">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <mat-label>Должность</mat-label>
                <mat-select [(ngModel)]="local_data.position_id" required name="position">
                  <mat-option *ngFor="let position of this.local_data.staffstruct" [value]="position.id">
                    {{position.name_i}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="date" placeholder="Дата найма" required matInput id="start_date" name="start_date"
                       [(ngModel)]="local_data.start_date">
              </mat-form-field>
            </div>
          </div>

          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="date" placeholder="Дата увольнения" matInput id="end_date" name="end_date"
                       [(ngModel)]="local_data.end_date">
              </mat-form-field>
            </div>
          </div>

          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="date" placeholder="Дата начала СДЛ" matInput id="sdl_start_date" name="sdl_start_date"
                       [(ngModel)]="local_data.sdl_start_date">
              </mat-form-field>
            </div>
          </div>

          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="date" placeholder="Дата окончания ЦИ" matInput id="ci_end_date" name="ci_end_date"
                       [(ngModel)]="local_data.ci_end_date">
              </mat-form-field>
            </div>
          </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="pt-3">
  <button mat-button (click)="doAction()" mat-flat-button color="warn"
          [disabled]="!userForm.valid">{{action}}</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</mat-dialog-actions>

