<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
    <div class="login-register-box">
        <mat-card>
            <mat-card-content>
                <form #userForm="ngForm">
                    <div class="text-center">
                        <h4 class="m-t-0">Войти</h4>
                    </div>

                    <div fxLayout="row wrap">
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                              <input type="text" matInput required id="email" name="email"
                                     [(ngModel)]="email" placeholder="eMail">
                            </mat-form-field>
                        </div>
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                              <input type="text" matInput required id="password" name="password"
                                     [(ngModel)]="password" placeholder="password">
                            </mat-form-field>
                        </div>
<!--                        &lt;!&ndash; col half&ndash;&gt;-->
<!--                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">-->
<!--                            <mat-checkbox color="warn">Remember me</mat-checkbox>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; col half&ndash;&gt;-->
<!--                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="text-right">-->
<!--                            <a [routerLink]="['/authentication/forgot']" class="link">Forgot pwd?</a>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; col full&ndash;&gt;-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <button mat-raised-button color="primary"
                                    class="btn-block btn-lg m-t-20 m-b-20"
                                    [disabled]="!userForm.valid"
                                    (click)="onSubmit()">
                              Login
                            </button>
                        </div>
<!--                        &lt;!&ndash; col full&ndash;&gt;-->
<!--                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-center">-->
<!--                            <span>Don't have an account?-->
<!--                                <a [routerLink]="['/authentication/register']" class="text-info link">Register</a>-->
<!--                            </span>-->
<!--                        </div>-->
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
