<div fxLayout="row wrap">
    <div fxFlex="100">
      <mat-card>
        <mat-card-content>
            <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Найти Роль">
                </mat-form-field>
            </div>
            <div fxFlex.gt-md="75" class="text-right">
              <button mat-raised-button (click)="openDialog('Add',{})" color="primary">Добавить Роль</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="table employee-list no-wrap">
  
              <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
              </ng-container>
    
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Название </th>
                <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
              </ng-container>
  
              <ng-container matColumnDef="permissions">
                <th mat-header-cell *matHeaderCellDef> Разрешения </th>
                <td mat-cell *matCellDef="let element"> {{ element.permissions }} </td>
              </ng-container>
  
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <a *ngIf="docBack.checkPermission('no_route', 'users_edit')" (click)="openDialog('Update',element)" class="m-r-10 cursor-pointer"><i class="fa fa-pencil"></i></a>
                </td>
              </ng-container>
  
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  