<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Найти запись">
            </mat-form-field>
            <button (click)="docBack.downloadFile2()">Скачать xlsx</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="table employee-list no-wrap">

            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef> # </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="user_email">
              <th mat-header-cell *matHeaderCellDef> Инициатор </th>
              <td mat-cell *matCellDef="let element"> {{ element.user_email }} </td>
            </ng-container>

            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef> Дата создания </th>
              <td mat-cell *matCellDef="let element"> {{element.created_at | date:'d-MM-yy HH:mm'}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Действие </th>
              <td mat-cell *matCellDef="let element"> {{ element.endpoint }} </td>
            </ng-container>

            <ng-container matColumnDef="old_data">
              <th mat-header-cell *matHeaderCellDef> Было </th>
              <td mat-cell *matCellDef="let element"> {{ objPrepare(element.old_data) }} </td>
            </ng-container>
            <ng-container matColumnDef="new_data">
              <th mat-header-cell *matHeaderCellDef> Стало </th>
              <td mat-cell *matCellDef="let element"> {{ objPrepare(element.new_data) }} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
