<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <div [hidden]="isLoading==false">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'Find client' | translate }}">
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="75" class="text-right">
            <button *ngIf="docBack.checkPermission('no_route', 'customer_send')" mat-raised-button (click)="openDialogMAny('Generate', {})" color="primary">Сгенерировать документы</button>
            &nbsp;<button *ngIf="docBack.checkPermission('no_route', 'customers_edit')" mat-raised-button (click)="newCust()" color="primary">{{'Add client' | translate }}</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="table employee-list no-wrap">

            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef> # </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="short_name">
              <th mat-header-cell *matHeaderCellDef> Краткое имя </th>
              <td mat-cell *matCellDef="let element"> {{element.short_name}} </td>
            </ng-container>

            <ng-container matColumnDef="full_name">
              <th mat-header-cell *matHeaderCellDef> Полное имя </th>
              <td mat-cell *matCellDef="let element"> {{element.full_name}} </td>
            </ng-container>

            <ng-container matColumnDef="contract_date">
              <th mat-header-cell *matHeaderCellDef> Дата контракта </th>
              <td mat-cell *matCellDef="let element"> {{element.contract_date | date :'dd-MM-yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="itn">
              <th mat-header-cell *matHeaderCellDef> ИНН </th>
              <td mat-cell *matCellDef="let element"> {{element.itn}} </td>
            </ng-container>

            <ng-container matColumnDef="company_type_id">
              <th mat-header-cell *matHeaderCellDef> Тип </th>
              <td mat-cell *matCellDef="let element"> {{element.company_type_id}} </td>
            </ng-container>

            <ng-container matColumnDef="time_zone">
              <th mat-header-cell *matHeaderCellDef> Часовой пояс </th>
              <td mat-cell *matCellDef="let element"> {{element.time_zone}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element" class="action-link">
                <a *ngIf="docBack.checkPermission('no_route', 'customers_edit')" (click)="updateCustomer(element)" class="m-r-10 cursor-pointer"><i class="fa fa-pencil"></i></a>
                <a *ngIf="docBack.checkPermission('no_route', 'customer_send')" (click)="openDialog('Generate', element)" class="m-r-10 cursor-pointer">
                  <i class="fa fa-file"></i>
                </a>
                <a *ngIf="docBack.checkPermission('no_route', 'settings_view')" (click)="openDialogDelete(element)" class="m-r-10 cursor-pointer"><i class="fa fa-trash"></i></a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
