<h2 class="font-medium" mat-dialog-title><strong> Генерация документов </strong></h2>
<mat-dialog-content class="pb-3">
    <form #userForm="ngForm">
        <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex="100" fxFlex.gt-md="50">
              <div class="m-r-15 m-l-15">
                <mat-form-field>
                  <mat-label>Категория клиента</mat-label>
                  <mat-select required [(ngModel)]="local_data.customer_category" name="customer_category">
                    <mat-option *ngFor="let customerCategory of docBack.customerCategories" [value]="customerCategory.id">{{customerCategory.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="date" placeholder="Дата" matInput required id="date" name="date"
                       [(ngModel)]="local_data.date">
              </mat-form-field>
            </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <mat-label>Категория шаблона</mat-label>
                <mat-select required [(ngModel)]="local_data.instruction_ids" name="instructions" multiple>
                  <mat-option *ngFor="let instruction of docBack.instructionsMap | keyvalue" [value]="instruction.key">{{instruction.value.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <button mat-button (click)="doAction()" mat-flat-button color="warn"
            [disabled]="!userForm.valid">{{action}}</button>
        <button mat-button (click)="closeDialog()">Cancel</button>
    </form>
</mat-dialog-content>
