<h2 class="font-medium" mat-dialog-title><strong> Генерация документов </strong></h2>
<mat-dialog-content class="pb-3">
    <form #userForm="ngForm">
        Выдействительно хотите удалить {{customer.short_name}}?
      <br><br>
        <button mat-button (click)="doAction()" mat-flat-button color="warn">Delete</button>
        <button mat-button (click)="closeDialog()">Cancel</button>
    </form>
</mat-dialog-content>
