<h2 class="font-medium" mat-dialog-title><strong> Генерация документов для {{local_data.short_name}}</strong></h2>
<mat-dialog-content class="pb-3">
    <form #userForm="ngForm">
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="date" placeholder="Дата c" matInput required id="date_start" name="date_start"
                       [(ngModel)]="local_data.date_start">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="50">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="date" placeholder="Дата по" matInput required id="date_end" name="date_end"
                       [(ngModel)]="local_data.date_end">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex="100">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <mat-label>Тип документа</mat-label>
                <mat-select required [(ngModel)]="local_data.instruction_ids" name="instructions" multiple>
                  <mat-option *ngFor="let instruction of docBack.instructionsMap | keyvalue" [value]="instruction.key">{{instruction.value.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div *ngIf="isGenerated" class="align-items-center">
            <h4>Выбрать документы для генерации</h4>
              <ul style="list-style-type: none">
                <li *ngFor="let subtask of toppings"><mat-checkbox [(ngModel)]="subtask.checked" [ngModelOptions]="{standalone: true}">{{subtask.name}}</mat-checkbox></li>
              </ul>
        </div>
        <button mat-button *ngIf="isGenerated==false" (click)="generate()" mat-flat-button color="primary"
            [disabled]="!userForm.valid">{{action}}</button>
        <button *ngIf="isGenerated" mat-button (click)="send()" mat-flat-button color="warn">Отправить</button>
        <button mat-button (click)="closeDialog()">Cancel</button>
    </form>
</mat-dialog-content>
