<h2 class="font-medium" mat-dialog-title><strong>{{action}}</strong></h2>
<mat-dialog-content class="pb-3">
    <form #userForm="ngForm">
        <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <mat-label>{{local_data.setting_name}}</mat-label>
                        <input type="text" matInput required id="name" name="name"
                            [(ngModel)]="local_data.setting_value">
                    </mat-form-field>
                </div>
            </div>
<!--          <div fxFlex="100" fxFlex.gt-md="50">-->
<!--            <div class="m-r-15 m-l-15">-->
<!--              <mat-form-field>-->
<!--                <mat-label>Тариф</mat-label>-->
<!--                <mat-select [(ngModel)]="local_data.tariff_id" name="tariff_id">-->
<!--                  <mat-option *ngFor="let tariff of docBack.tariffs" [value]="tariff.id">-->
<!--                    {{tariff.name}}-->
<!--                  </mat-option>-->
<!--                </mat-select>-->
<!--              </mat-form-field>-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <button mat-button (click)="doAction()" mat-flat-button color="warn"
            [disabled]="!userForm.valid">{{action}}</button>
        <button mat-button (click)="closeDialog()">Cancel</button>
    </form>
</mat-dialog-content>
<!--<ng-template #elseTemplate>-->
<!--    <p>Sure to delete <b>{{local_data.Name}}</b> ?</p>-->
<!--    <div mat-dialog-actions align="end" class="pt-3">-->
<!--        <button mat-button (click)="doAction()" mat-flat-button color="warn">{{action}}</button>-->
<!--        <button mat-button (click)="closeDialog()">Cancel</button>-->
<!--    </div>-->
<!--</ng-template>-->
